<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <!--/是否使用Satement命名空间，这里的命名空间指的是映射文件中sqlMap节点的namespace属性，默认是false-->
    <setting useStatementNamespaces="true"/>
    <!--是否启用DataMapper的缓存机制,针对全部的SqlMap，默认是true-->
    <setting cacheModelsEnabled="true"/>
    <!--是否启用SqlMapConfig.xsd schema验证映射文件，默认是false-->
    <setting validateSqlMap="false"/>
  </settings>
  <!--配置数据驱动提供类配置文件的路径和文件名-->
  <providers resource="providers.config"/>
  <!--如果在providers.config文件中指定了默认的数据库驱动，那么provider节点就不需要设置了，它的作用是在换数据库驱动时不需要修改providers.config文件。datasource节点用于指定ADO.NET Connection String.-->
  <database>
    <provider name="MySql"/>
    <dataSource name="iBatisNet" connectionString="Host=118.244.235.185;Port=3306;Database=sphereTest;UserName=root;Password=123456"/>
  </database>
  <!--指定映射的文件的位置-->
  <sqlMaps>
@sqlMap@
  </sqlMaps>/>
</sqlMapConfig>